<head>
    <div>
        <div>
        <div>
            <h2 href="/">
            {{title}}          
            </h2>           
        </div>
        </div>
    </div>
</head>
</br>
</br>
<div>
    <div>
        <div >
            <div >
                <div style="background-color:tomato">
                    Add a new Song
                </div>
                </br>
                
                <div>
                <div id="collapseQueryAdd">
                    <form id="songForm">
                        <div>
                            <div>
                            <a>Song ID</a>
                            <label for="songId"></label>
                            <input type="text" id="songId" aria-describedby="songId" placeholder="009">
                            </div>
                        </div>
                        <div>
                            <div>
                            <a>Song Name</a>
                            <label for="songName"></label>
                            <input type="text" id="songName" aria-describedby="songName" placeholder="What's the point">
                            </div>
                        </div>
                        <div>
                            <div>
                            <a>Song Artist</a>
                            <label for="songArtist"></label>
                            <input type="text" id="songArtist" aria-describedby="songArtist" placeholder="heliflopper">
                            </div>
                        </div>
                        <div>
                            <div>
                            <a>Song Album</a>
                            <label for="songAlbum"></label>
                            <input type="text"  id="songAlbum" aria-describedby="songAlbum" placeholder="Life">
                            </div>
                        </div>      
                        </br>
                        </br>
                        <div>
                            <div>
                            <a>Provide username for submitting transaction</a>
                            <label for="userName"></label>
                            <input type="text" id="userName" aria-describedby="userName" placeholder="admin/appUser">
                            </div>
                        </div> 
                        <div>
                            <div>
                                <button type="button" onclick="SongWriteData(event)">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>

            </div>
        </div>
    </div>
</div>

</br>
</br>
</br>

<script type="text/javascript" src='/javascripts/main.js'></script>
